@font-face {
    font-family: '이쁜폰트';
    src: url(../font/NanumSquareR.woff);
}

@font-face {
    font-family: '굵은폰트';
    font-weight: 800;
    src: url(../font/NanumSquareB.woff);
}

div,
input,
textarea {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: '굵은폰트';
}

p,
h4,
h3,
h2,
h1,
span {
    transform: rotate(0.03deg);
}
