.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../image/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(70%);
    padding: 1px;
}

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 300px;
}
